<div class="w-full flex flex-col items-center">
<%= form_with(model: profile, local: true, class: "bg-white shadow-lg rounded px-8 pt-6 pb-8 my-2 max-w-xs") do |form| %>
  <% if profile.errors.any? %>
    <div id="error_explanation" class="bg-red-200 text-red-900 shadow-lg rounded px-8 pt-6 pb-8 my-2 max-w-xs">
      <h2>
        <svg class="fill-current h-8 w-8 mr-2" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
      <%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>

      <ul>
        <% profile.errors.full_messages.each do |message| %>
          <li><svg class="fill-current h-4 w-4 mr-2 inline-block" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-7.536 5.879a1 1 0 001.415 0 3 3 0 014.242 0 1 1 0 001.415-1.415 5 5 0 00-7.072 0 1 1 0 000 1.415z" clip-rule="evenodd"></path></svg><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :picture, "Company Profile Picture", class: "f_label" %>
    <%=form.file_field :picture, accept: 'image/png,image/jpeg,image/jpg'%>
  </div>

  <div class="mb-4">
    <%= form.label :country, class: "f_label"  %>
    <div class="inline-block relative w-full">
      <%= form.country_select :country, {priority_countries: ["AU", "US"]},{class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"}%>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :street, "Street Address", class: "f_label"  %>
    <%= form.text_field :street, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :suburb, class: "f_label"  %>
    <%= form.text_field :suburb, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :state, class: "f_label"  %>
    <%= form.text_field :state, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :postcode, class: "f_label"  %>
    <%= form.text_field :postcode, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :website, class: "f_label"  %>
    <%= form.text_field :website, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :contact, class: "f_label"  %>
    <%= form.text_field :contact, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="actions flex justify-center">
    <%= form.submit class: "w-3/4 bg-primary hover:bg-hovered text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"%>
  </div>
<% end %>
<p class="text-center text-gray-500 text-xs">
    &copy;2020 Phil Antiporda
  </p>
</div>
