<div class="wrapper md:flex justify-center md:pt-4">
  <div class="profile-pic w-full mb-4 md:w-auto">
    <%if @profile.picture.attached?%>
      <%= image_tag @profile.picture, alt: "Company Profile Pic", class: "w-full max-w-sm rounded shadow-md mx-auto"  %>
    <%else%>
      <%= image_tag 'profile_pic_placeholder.png', alt: "Placeholder Image", class: "w-full max-w-sm rounded shadow-md mx-auto"  %>
  <%end%>
  </div>

  <div class="profile md:ml-12 text-center">
    <h1 class="font-medium text-3xl my-4">
      <%=@profile.account.company_name%>
    </h1>

    <div class="flex mb-4">
      <svg class="inline-block fill-current h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M5.05 4.05a7 7 0 119.9 9.9L10 18.9l-4.95-4.95a7 7 0 010-9.9zM10 11a2 2 0 100-4 2 2 0 000 4z" clip-rule="evenodd"></path></svg>
      <%= link_to "#{ @profile.street}, #{@profile.suburb} #{@profile.state} #{@profile.postcode} #{@profile.country_name}", "http://maps.google.com/?q=#{@profile.street}+#{@profile.suburb}+#{@profile.state}+#{@profile.postcode}+#{@profile.country_name}", target: :blank, class: "text-gray-700 text-base ml-2 underline" %>
    </div>

    <div class="flex mb-4">
      <svg class="inline-block fill-current h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M12.586 4.586a2 2 0 112.828 2.828l-3 3a2 2 0 01-2.828 0 1 1 0 00-1.414 1.414 4 4 0 005.656 0l3-3a4 4 0 00-5.656-5.656l-1.5 1.5a1 1 0 101.414 1.414l1.5-1.5zm-5 5a2 2 0 012.828 0 1 1 0 101.414-1.414 4 4 0 00-5.656 0l-3 3a4 4 0 105.656 5.656l1.5-1.5a1 1 0 10-1.414-1.414l-1.5 1.5a2 2 0 11-2.828-2.828l3-3z" clip-rule="evenodd"></path></svg>
      <p class="text-gray-700 text-base ml-2"><%= @profile.website %></p>
    </div>

    <div class="flex mb-4">
      <svg class="inline-block fill-current h-6 w-6" fill="currentColor" viewBox="0 0 20 20"><path d="M2 3a1 1 0 011-1h2.153a1 1 0 01.986.836l.74 4.435a1 1 0 01-.54 1.06l-1.548.773a11.037 11.037 0 006.105 6.105l.774-1.548a1 1 0 011.059-.54l4.435.74a1 1 0 01.836.986V17a1 1 0 01-1 1h-2C7.82 18 2 12.18 2 5V3z"></path></svg>
      <p class="text-gray-700 text-base ml-2"><%= @profile.contact %></p>
    </div>

    <%if @profile.account == current_account%>
      <div class="profile-options flex flex-col text-center w-4/5 mx-auto mt-4">
        <%= link_to 'Add New Listing', new_listing_path, class: "mb-2 inline-block cursor-pointer bg-green-200 hover:bg-green-700 hover:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  %>
        <%= link_to 'Edit Profile', edit_profile_path(@profile), class: "mb-2 inline-block cursor-pointer bg-blue-200 hover:bg-blue-700 hover:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= link_to 'Edit Email or Password', edit_account_registration_path, class: "mb-2 inline-block cursor-pointer bg-yellow-200 hover:bg-yellow-700 hover:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        <%= link_to 'Delete Account', account_registration_path, method: :delete, data: {confirm: 'Are you sure you want to delete your account?'}, class: "mb-2 inline-block cursor-pointer bg-red-200 hover:bg-red-700 hover:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  %>
        <%end%>
      </div>
</div>
</div>

<%# Listings of the Profile %>



<br>
<%if current_account == @profile.account%>
<%end%>




<h2 class="font-medium text-2xl my-4">Vendor Listings</h2>
<!--CARD-->


<%= render 'listings/dashboard', {listings: @listings, pagy: @pagy}%>
<!--#TODO-->