<p id="notice"><%= notice %></p>
<%if @profile.picture.attached?%>
  <%= image_tag @profile.picture, alt: "Company Profile Pic" %>
<%else%>
  <%= image_tag 'profile_pic_placeholder.png', alt: "Placeholder Image" %>
<%end%>

<h3><%=@profile.account.company_name%></h3>
<p>
  <strong>Country:</strong>
  <%= @profile.country_name %>
</p>

<p>
  <strong>Street:</strong>
  <%= @profile.street %>
</p>

<p>
  <strong>Suburb:</strong>
  <%= @profile.suburb %>
</p>

<p>
  <strong>State:</strong>
  <%= @profile.state %>
</p>

<p>
  <strong>Postcode:</strong>
  <%= @profile.postcode %>
</p>

<p>
  <strong>Website:</strong>
  <%= @profile.website %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @profile.contact %>
</p>

<%if @profile.account == current_account%>
  <%= link_to 'Edit Account', edit_profile_path(@profile) %> |
  <%= link_to 'Delete Account', account_registration_path, method: :delete, data: {confirm: 'Are you sure you want to delete your account?'} %>
<%end%>


<%# Listings of the Profile %>

<h1>Vendor Listings</h1>

<table>
  <thead>
    <tr>
      <th>Primary Photo</th>
      <th>Category</th>
      <th>Account</th>
      <th>Part num</th>
      <th>Part name</th>
      <th>Selling price</th>
      <th>Currency</th>
      <th>Serial num</th>
      <th>Condition</th>
      <th>Form cert</th>
      <th>Cert date</th>
      <th>Expiry date</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Updated on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @profile.account.listings.each do |listing| %>
      <tr>
        <%if listing.pictures.empty?%>
          <td><%= image_tag 'profile_pic_placeholder' %></td>
        <%else%>
          <td><%= image_tag listing.pictures.first %></td>
        <%end%>
        <td><%= listing.category.name %></td>
        <td><%= listing.account.company_name %></td>
        <td><%= listing.part_num %></td>
        <td><%= listing.part_name %></td>
        <td><%= number_to_currency(listing.selling_price) %></td>
        <td><%= listing.currency %></td>
        <td><%= listing.serial_num %></td>
        <td><%= listing.condition %></td>
        <td><%= listing.form_cert %></td>
        <td><%= listing.cert_date %></td>
        <td><%= listing.expiry_date %></td>
        <td><%= listing.quantity %></td>
        <td><%= listing.description %></td>
        <td><%=listing.updated_at.to_date%></td>
        <td><%= link_to 'Show', listing %></td>
        <%if listing.account == current_account %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%if current_account == @profile.account%>
  <%= link_to 'New Listing', new_listing_path %>
<%end%>