
<table>
  <thead>
    <tr>
      <th>Primary Photo</th>
      <th>Category</th>
      <th>Account</th>
      <th>Part num</th>
      <th>Part name</th>
      <th>Selling price</th>
      <th>Currency</th>
      <th>Serial num</th>
      <th>Condition</th>
      <th>Form cert</th>
      <th>Cert date</th>
      <th>Expiry date</th>
      <th>Quantity</th>
      <th>Description</th>
      <th>Updated on</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @listings.each do |listing| %>
      <tr>
        <%if listing.pictures.empty?%>
          <td><%= image_tag 'profile_pic_placeholder' %></td>
        <%else%>
          <td><%= image_tag listing.pictures.first %></td>
        <%end%>
        <td><%= listing.category.name %></td>
        <td><%= listing.account.company_name %></td>
        <td><%= listing.part_num %></td>
        <td><%= listing.part_name %></td>
        <td><%= number_to_currency(listing.selling_price) %></td>
        <td><%= listing.currency %></td>
        <td><%= listing.serial_num %></td>
        <td><%= listing.condition %></td>
        <td><%= listing.form_cert %></td>
        <td><%= listing.cert_date %></td>
        <td><%= listing.expiry_date %></td>
        <td><%= listing.quantity %></td>
        <td><%= listing.description %></td>
        <td><%=listing.updated_at.to_date%></td>
        <td><%= link_to 'Show', listing %></td>
        <%if listing.account == current_account %>
        <td><%= link_to 'Edit', edit_listing_path(listing) %></td>
        <td><%= link_to 'Destroy', listing, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<!--from pagy gem-->
<%== pagy_nav(@pagy)%>