<%= form_with(model: listing, local: true, class: "bg-white shadow-lg rounded px-8 pt-6 pb-8 my-2 max-w-xs w-4/5 mx-auto") do |form| %>
  
  <!--ERRORS-->
  <% if listing.errors.any? %>
    <div id="error_explanation" class="bg-red-200 text-red-900 shadow-lg rounded px-8 pt-6 pb-8 my-2 max-w-xs">
      <h2>
      <svg class="fill-current h-8 w-8 mr-2" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
      <%= pluralize(listing.errors.count, "error") %> prohibited this listing from being saved:</h2>

      <ul>
        <% listing.errors.full_messages.each do |message| %>
          <li><svg class="fill-current h-4 w-4 mr-2 inline-block" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M10 18a8 8 0 100-16 8 8 0 000 16zM7 9a1 1 0 100-2 1 1 0 000 2zm7-1a1 1 0 11-2 0 1 1 0 012 0zm-7.536 5.879a1 1 0 001.415 0 3 3 0 014.242 0 1 1 0 001.415-1.415 5 5 0 00-7.072 0 1 1 0 000 1.415z" clip-rule="evenodd"></path></svg><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <!--ICON GOES HERE-->
  <div class="flex items-center justify-center flex-shrink-0 text-primary mr-6 mb-1 hover:text-hovered">
    <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
    <span class="font-semibold text-xl tracking-tight"><%= link_to 'AirGear', root_path %></h5></span>
  </div>


  <div class="mb-4">
      <%= form.label :category_id, class: "f_label" %>
    <div class="inline-block relative w-64">
      <%= form.collection_select :category_id, categories, :id, :name,{},{class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"}%>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :part_num, "Part Number", class: "f_label"%>
    <%= form.text_field :part_num, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Part Number"%>
  </div>

  <div class="mb-4">
    <%= form.label :part_name, "Part Name", class: "f_label"%>
    <%= form.text_field :part_name, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Part Name"%>
  </div>

  <div class="mb-4">
    <%= form.label :selling_price, class: "f_label" %>
    <%= form.number_field :selling_price, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Selling Price"%>
  </div>

  <div class="mb-4">
    <%= form.label :currency, class: "f_label" %>
    <div class="inline-block relative w-64">
      <%= form.select(:currency, options_for_select(@currencies, "AUD"),{}, {class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline"})%>
      <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
      </div>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :serial_num, "Serial Number", class: "f_label" %>
    <%= form.text_field :serial_num, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Serial Number" %>
  </div>

  <div class="mb-4">
  <label class="f_label">Condition</label>
  <% conditions.each do |option|%>
    <div class="mb-1">
      <%= form.radio_button :condition, option%>
      <%= form.label option %>
    </div>
  <%end%>
    </div>


  <div class="mb-4">
    <%= form.label :form_cert, "Form Certification", class: "f_label" %>
    <%= form.text_field :form_cert, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", placeholder: "Form Certification"%>
  </div>

  <div class="mb-4">
    <%= form.label :cert_date, "Form Certificate Date (if any)", class: "f_label" %>
    <div class="flex justify-between">
      <%= form.date_select :cert_date, {}, {class: "inline-block bg-white border border-gray-400 hover:border-gray-500 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline"}%>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :expiry_date, "Form Expiry Date", class: "f_label" %>
    <div class="flex justify-between">
      <%= form.date_select :expiry_date, {}, {class: "inline-block bg-white border border-gray-400 hover:border-gray-500 py-2 rounded shadow leading-tight focus:outline-none focus:shadow-outline"}%>
    </div>
  </div>

  <div class="mb-4">
    <%= form.label :quantity, class: "f_label" %>
    <%= form.number_field :quantity, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
  </div>

  <div class="mb-4">
    <%= form.label :description, class: "f_label" %>
    <%= form.text_area :description, size: "10x10", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"%>
  </div>

  <div class="mb-4">
  <%= form.label :pictures, "Product Photos", class: "f_label"%>
  <%= form.file_field :pictures, multiple: true, accept:'image/png,image/jpeg,image/jpg' %>
  </div>

  <div class="mb-4">
  <%if listing.pictures.any?%>
    <ul>Files Attached</ul>
    <%listing.pictures.each do |pic|%>
      <li class="list-inside underline"><%= link_to pic.filename, pic, target: :blank %></li>
    <%end%>
  <%end%>
  </div>


  <div class="actions flex justify-center">
    <%= form.submit class: "cursor-pointer w-3/4 bg-primary hover:bg-hovered text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>
