<p id="notice"><%= notice %></p>

<%# Part Details %>
<h2>Part Details</h2>
<p>
  <strong>Category:</strong>
  <%= @listing.category.name %>
</p>


<p>
  <strong>Part num:</strong>
  <%= @listing.part_num %>
</p>

<p>
  <strong>Part name:</strong>
  <%= @listing.part_name %>
</p>

<p>
  <strong>Selling price:</strong>
  <%= number_to_currency(@listing.selling_price) %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @listing.currency %>
</p>

<p>
  <strong>Serial num:</strong>
  <%= @listing.serial_num %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @listing.condition %>
</p>

<p>
  <strong>Form cert:</strong>
  <%= @listing.form_cert %>
</p>

<p>
  <strong>Cert date:</strong>
  <%= @listing.cert_date %>
</p>

<p>
  <strong>Expiry date:</strong>
  <%= @listing.expiry_date %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @listing.quantity %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<%# Company Details %>
<h2>Vendor Details</h2>
<%= link_to 'See Vendor Details', profile_path(@listing.account.profile) %>
<p>
  <strong>Account:</strong>
  <%= @listing.account.company_name %>
</p>

<p>
  <strong>Email:</strong>
  <%= @listing.account.email %>
</p>

<p>
  <strong>Contact:</strong>
  <%= @listing.account.profile.contact %>
</p>

<p>
  <strong>Website:</strong>
  <%= @listing.account.profile.website %>
</p>

<%# TODO - Link should go into messages/inbox %>
<%if account_signed_in?%>
  <%= link_to 'Contact Vendor', profile_path(@listing.account.profile) %>
  <br>
  <%if current_account == @listing.account%>
    <%= link_to 'Edit', edit_listing_path(@listing) %> |
  <%end%>
<%end%>


<%= link_to 'Back', listings_path %>
