<!--BREADCRUMBS-->
<div class="mb-4">
<%= link_to 'Home', listings_path, class: "underline"%>
<span>></span>
<%= link_to @listing.category.name, category_path(@listing.category.name), class: "underline" %>
<span>></span>
<span><%=@listing.id%></span>
</div>

<div id="notice"><%= notice %></div>
<%# Part Details %>

<!--IMAGES-->
<div class="max-w-screen-sm mx-auto">
  <%if @listing.pictures.empty?%>
    <%= image_tag 'profile_pic_placeholder', class: "w-full rounded shadow-lg" %>
  <%else%>
  <div class="first-photo w-full my-4">
    <%=image_tag @listing.pictures.first, class: "w-full rounded shadow-lg"%>
  </div>
  <div class="photo-rest flex overflow-x-scroll w-full">
    <%@listing.pictures.each do |pic|%>
      <div class="imgs px-2">
      <%= image_tag pic, class: "w-full rounded shadow-lg"%>
      </div>
    <%end%>
  </div>
  <%end%>
</div>

<div class="wrapper md:flex max-w-screen-md mx-auto">
  <!--PART DEETS-->
  <div class="bg-white shadow-lg rounded px-8 pt-6 pb-8 my-4 w-full mx-auto relative md:mb-0 md:mr-4">
    <span class="absolute right-0 top-0 mr-1 mt-1 inline-block bg-white rounded-full px-4 py-1 text-sm font-semibold text-hovered border border-hovered"><%=@listing.category.name%></span>

    <h1 class="font-medium text-3xl my-4">
      <%= @listing.part_name %>
    </h1>

    <div class="mb-4">
      <p class="f_label">
        Selling price:
      </p>
      <p class="font-semibold text-xl">
        <%= number_to_currency(@listing.selling_price) %>
        <%= @listing.currency %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
      Part number:
      </p>
      <p>
        <%= @listing.part_num %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Serial number:
      </p>
      <p>
        <%= @listing.serial_num %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Condition:
      </p>
      <p>
        <%= @listing.condition.capitalize %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Form Certification:
      </p>
      <p>
        <%= @listing.form_cert %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Certifacte date:
      </p>
      <p>
        <%= @listing.cert_date %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Expiry date:
      </p>
      <p>
        <%= @listing.expiry_date %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Quantity:
      </p>
      <p>
        <%= @listing.quantity %>
      </p>
    </div>

    <div class="mb-4">
      <p class="f_label">
        Description:
      </p>
      <p>
        <%= @listing.description %>
      </p>
    </div>
  </div>


  <!--Company Details-->
  <div class="bg-white shadow-lg rounded px-8 pt-6 pb-8 mt-4 mb- w-full mx-auto">
    <h2 class="font-bold text-xl mb-2">Vendor Details</h2>

    <div class="profile-pic w-full">
      <%if @listing.account.profile.picture.attached?%>
        <%= image_tag @listing.account.profile.picture, alt: "Company Profile Pic", class: "w-full max-w-xs rounded shadow-md mx-auto" %>
      <%else%>
        <%= image_tag 'profile_pic_placeholder.png', alt: "Placeholder Image", class: "w-full max-w-xs rounded shadow-md mx-auto" %>
      <%end%>
    </div>
    <div class="text-center mb-4">
      <%= link_to 'See Vendor Details', profile_path(@listing.account.profile), class: 'underline' %>
    </div>
    
    <div class="mb-4">
      <p class="f_label">
        Account:
      </p>
      <p>
        <%= @listing.account.company_name %>
      </p>
    </div>
    <div class="mb-4">
      <p class="f_label">
        Email:
      </p>
      <p>
        <%= @listing.account.email %>
      </p>
    </div>
    <div class="mb-4">
      <p class="f_label">
        Contact:
      </p>
      <p>
        <%= @listing.account.profile.contact %>
      </p>
    </div>
    <div class="mb-4">
      <p class="f_label">
        Website:
      </p>
      <p>
        <%= @listing.account.profile.website %>
      </p>
    </div>

    <%# TODO - Link should go into messages/inbox %>
    <%if account_signed_in?%>
      <div class="text-center my-4">
        <%= link_to 'Contact Vendor', profile_path(@listing.account.profile), class: "inline-block cursor-pointer w-4/5 bg-primary hover:bg-hovered text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
      </div>
      <%if current_account == @listing.account%>
        <div class="text-center my-4">
          <%= link_to 'Edit Listing', edit_listing_path(@listing), class: "inline-block cursor-pointer w-4/5 bg-blue-200 hover:bg-blue-700 hover:text-white text-black font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
        </div>
      <%end%>
    <%end%>
  </div>
</div>

<div class="conv-wrapper h-auto h-40 max-w-screen-md mx-auto bg-white shadow-lg rounded px-8 pt-6 pb-8 my-4 w-full mx-auto relative">
  <h3 class="font-bold text-xl mb-2">Currency Converter</h3>

  <!--CURRENCY CONVERTOR-->
  <!--MODULE WORKING- NEED TO SET UP A FORM AND STIMULUS JS -->
  <div class="md:flex justify-around">
    <div class="mb-4 md:mb-0">
    <p class="f_label">Selling Price</p>
    <p class="font-semibold text-xl"><%=number_to_currency(@listing.selling_price)%> <span><%=@listing.currency%></span></p>
    </div>
    <!--CONVERT BUTTON-->
    <div class="mb-4 md:mb-0">
      <p class="f_label">Currency Exchange to:</p>
      <input type="text" value="<%=number_to_currency(@new_value)%>" readonly="readonly" class="w-40 md:w-auto shadow appearance-none border rounded py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" placeholder="New value appears here">
      <div class="inline-block relative">
       <%= select_tag(:currency, options_for_select(@currencies, "AUD"), {class: "block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline", data: {reflex: "change->ExampleReflex#convert_currency", id: @listing.id}})%>
        <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
          <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
        </div>
      </div>
    </div>
  </div>
  <div class="disclaimer">
   <p class="f_label">Disclaimer:</p>

   <p class="text-xs"><svg class="inline-block fill-current h-4 w-4" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
   This currency converter feature does not support all currencies. If no input is shown after a few minutes, it means the chosen NEW CURRENCY is not supported.</p>

   <p class="text-xs"><svg class="inline-block fill-current h-4 w-4 mr-2" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8.257 3.099c.765-1.36 2.722-1.36 3.486 0l5.58 9.92c.75 1.334-.213 2.98-1.742 2.98H4.42c-1.53 0-2.493-1.646-1.743-2.98l5.58-9.92zM11 13a1 1 0 11-2 0 1 1 0 012 0zm-1-8a1 1 0 00-1 1v3a1 1 0 002 0V6a1 1 0 00-1-1z" clip-rule="evenodd"></path></svg>
   Please only use as a reference for an estimated amount in the chosen NEW CURRENCY</p>
  </div>
</div>