<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <h5 class="my-0 mr-md-auto font-weight-normal"><%= link_to 'Company Name', root_path %></h5>
  <nav class="my-2 my-md-0 mr-md-3">

    <%if account_signed_in? %>
      <%= link_to 'My Account', profile_path(current_account), class: "btn btn-outline-success" %>
      <%= link_to 'Log Out', destroy_account_session_path, method: :delete, class: "btn btn-outline-danger" %>
    <%else%>
    <%= link_to 'Sign Up', new_account_registration_path, class: "btn btn-outline-primary" %>
    <%= link_to 'Log in', new_account_session_path, class: "btn btn-outline-primary" %>
    <%end%>


  </nav>

</div>