<!--TAILWIND STARTS HERE-->
<!--nav class="bg-primary px-6 py-4 md:bg-transparent md:px-0 md:py-0 max-h-screen text-white fixed z-10 w-full overflow-scroll shadow-lg md:pt-0 md:overflow-hidden" id="nav"-->
<nav class="bg-primary max-h-screen text-white fixed z-10 w-full overflow-scroll shadow-lg md:overflow-hidden" id="nav">

  <!--div class="md:bg-primary pt-2 w-full md:grid grid-cols-3 mx-auto max-w-screen-xl"-->
  <div class="bg-primary pt-2 w-full md:grid grid-cols-3">
    <!--COMPANY ICON-->
    <div class="md:pl-6 flex justify-between w-full md:w-1/5 col-span-1">
      <div class="flex items-center flex-shrink-0 text-white mr-6">
        <svg class="fill-current h-8 w-8 mr-2" width="54" height="54" viewBox="0 0 54 54" xmlns="http://www.w3.org/2000/svg"><path d="M13.5 22.1c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05zM0 38.3c1.8-7.2 6.3-10.8 13.5-10.8 10.8 0 12.15 8.1 17.55 9.45 3.6.9 6.75-.45 9.45-4.05-1.8 7.2-6.3 10.8-13.5 10.8-10.8 0-12.15-8.1-17.55-9.45-3.6-.9-6.75.45-9.45 4.05z"/></svg>
        <span class="font-semibold text-xl tracking-tight"><%= link_to 'AirGear', root_path %></h5></span>
      </div>
      <div class="px-1 flex">
        <div class="mx-1 block md:hidden" id="burger">
          <button class="flex items-center px-3 py-2 border rounded text-white-200 border-white-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
          </button>
        </div>
        <div class="mx-1 block md:hidden" id="find">
          <button class="flex items-center px-3 py-2 border rounded text-white-200 border-white-400 hover:text-white hover:border-white">
            <svg class="fill-current h-3 w-3" fill="currentColor" viewBox="0 0 20 20"><path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd"><title>Search</title></path></svg>
          </button>
        </div>
      </div>
    </div>

    <!--Search bar-->
    <form class="w-full md:pr-6 mt-2 h-40 mx-auto flex flex-col justify-around hidden md:block md:flex-row md:h-auto col-span-2 md:flex md:w-full md:justify-end" action="/search" id="search">
      <div class="inline-block relative w-9/12 mx-auto md:w-56 md:mx-1">
          <%=select_tag(:search_by, options_for_select([["Part Number", 'part_num'],["Part Name", 'part_name']]), {class: "block appearance-none w-full bg-secondary border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline font-semibold text-center"})%>
          <div class="pointer-events-none absolute inset-y-0 right-0 flex items-center px-2 text-gray-700">
            <svg class="text-white fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20"><path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"/></svg>
          </div>
      </div>
      <input class="shadow appearance-none border rounded w-9/12 mx-auto py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline md:w-2/5 md:mx-1" type="text" name="q" placeholder="Search" aria-label="Search">
      <button class="w-9/12 mx-auto border border-white bg-secondary hover:bg-white text-white hover:text-secondary font-bold py-2 px-4 rounded-full md:w-40 md:mx-1" type="submit">Search</button>
    </form>
    <!--Menu Bar-->
    <div class="bg-primary md:bg-nav w-full col-span-3">
    <div class="md:bg-nav mt-2 w-full block hidden col-span-3 md:flex w-full mx-auto max-w-screen-lg md:mt-0" id="menu">
      <!--LISTING OPTIONS-->
      <div class="w-full md:flex md:w-64">
        <%=link_to 'New Listing', new_listing_path, class: "mb-2 text-center block w-9/12 mx-auto border border-white bg-secondary hover:bg-white text-white hover:text-secondary font-bold py-2 px-4 rounded-full md:mb-0 md:w-auto md:mr-1"%>
        <%=link_to 'All Listings', listings_path, class:"block text-center w-9/12 mx-auto border border-white bg-secondary hover:bg-white text-white hover:text-secondary font-bold py-2 px-4 rounded-full md:w-auto"%>
      </div>
      <!--CATEGORIES AND ACCOUNT-->
      <div class="md:flex-grow md:flex md:py-0 px-6 py-4">
        <p class="md:hidden select-none border-b border-white mt-2">Browse by Categories</p>
        <div class="text-sm mb-2 md:flex md:flex-grow justify-evenly md:mb-0">
          <!--Categories Nav-->
          <%@nav_categories.each do |category|%>
            <%= link_to category.name, category_path(category.name), class: 'nav_link hover:border-secondary' %>
          <%end%>
        </div>
          <!--TODO-ACCOUNT WHEN MSGS ARE IMPLEMENTED-->
        <p class="md:hidden select-none border-b border-white">Manage Account</p>
        <div class="text-sm mb-2 md:flex md:w-1/5 justify-evenly md:mb-0 ">
          <%if account_signed_in? %>
            <%= link_to 'My Account', profile_path(current_account), class: "nav_link hover:border-secondary" %>
            <%= link_to 'Log Out', destroy_account_session_path, method: :delete, class: "nav_link hover:border-secondary" %>
          <%else%>
            <%= link_to 'Sign Up', new_account_registration_path, class: "nav_link hover:border-secondary" %>
            <%= link_to 'Log in', new_account_session_path, class: "nav_link hover:border-secondary" %>
          <%end%>
        </div>
        <div class="block md:hidden">
          <p class="select-none border-b border-white">Help & Settings</p>
          <div class="text-sm mb-2">
            <a href="#" class="nav_link hover:border-secondary">About Us</a>
            <a href="#" class="nav_link hover:border-secondary">Contact Us</a>
            <a href="#" class="nav_link hover:border-secondary">Customer Care</a>
            <a href="#" class="nav_link hover:border-secondary">Privacy Policy</a>
          </div>
          <p class="select-none border-b border-white">Socials</p>
          <div class="text-sm mb-2">
            <a href="#" class="nav_link hover:border-secondary">LinkedIn</a>
            <a href="#" class="nav_link hover:border-secondary">Github</a>
            <a href="#" class="nav_link hover:border-secondary">Twitter</a>
          </div>
        </div>
      </div>
    </div>
    </div>
  </div>
</nav>